@import url(../chameleon-blue/styles.css);

/* Main application background */
.v-app {
	background: white;
	}

.v-customcomponent {}
.v-customcomponent .v-embedded {}
/*.v-customcomponent.v-customcomponent-v-loginform.v-loginform {width: 100%}
.v-customcomponent.v-customcomponent-account.account {width: 240px; height: 200px}

.v-app-loginpage {
}
.v-app-loginpage .v-textfield {width: 100%}
.v-app-loginpage .v-button {}

.v-form {
	background-color: rgb(240, 240, 240);
	border-radius: 0pt 0pt 5px 5px;
}
.v-form legend
.v-form fieldset {
	    border: thin solid;
}
.v-form-error {}
.v-form-errormessage {}
.v-form-description {}


.v-button {
	color: #E9F1F4;
}*/

.v-horizontallayout-header.header {
	background: -moz-linear-gradient(rgb(130, 154, 168), rgb(88, 109, 122)) repeat scroll 0% 0% transparent;
	/*border-radius: 5px 5px 0pt 0pt;
	margin: 0px 0px;*/
}

.v-horizontallayout-header.header {
	color: #E9F1F4;
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
	border-radius: 3px 3px 0 0;
}

.v-textfield.v-textfield-login.login {
	width: 98%;
}

.v-loginform-table {
	width: 100%;
}

.v-verticallayout.v-verticallayout-mainlayout.mainlayout {
	background-color: #E9F1F4;
}

.v-button.v-button-login.login {

}

.v-button.v-button-link.link.v-button-header.header {
	color: rgb(220, 220, 220);
	font-size: 10px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
	border-radius: 3px 3px 0 0;
}